<footer>
    <nav>
        <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="https://www.facebook.com"><img src="/images/facebook.png" class="social" alt="Facebook"></a></li>
            <li><a href="https://www.instagram.com"><img src="/images/instagram.png" class="social" alt="Instagram"></a></li>
            <li><a href="https://www.twitter.com"><img src="/images/twitter.png" class="social" alt="Twitter"></a></li>
        </ul>
    </nav>
</footer>

</body>
</html>