<%- include('./partials/header.ejs') %>
    <main>
        <section>
            <h2>About</h2>
            <article>
            <p>Appointment System is designed to help the people who wants to offer appointments to their offices or users to schedule appointmments. With a few simple clicks, host an office or schedule an appointment. 
            </p>
            </article>
        </section>
    </main>
<%- include('./partials/footer.ejs') %>