<%- include('./partials/header.ejs') %>
    <main>
        <section>
            <h2>Contact</h2>
            <article>
                <p>
                    <b>Appointment System,</b> <br>
                    1234d Northwest Lane,<br>
                    Charlotte, NC-28000 <br>
                    Email: <a href="mailto:helpdesk@asystem.com">helpdesk@use.com</a> <br>
                    Call us at: <a href="tel:7049876543">+1 (704) 987-6543</a>
                </p>
            </article>
        </section>
    </main>
<%- include('./partials/footer.ejs') %>