<%- include('./partials/header.ejs') %>
    <main>
        <section>
            <h2><%= error.status %> Error</h2>
            <article>
                <p><%= error.message %></p>
            </article>
        </section>
    </main>
<%- include('./partials/footer.ejs') %>