<%- include('./partials/header.ejs') %>
    <main>
        <section>
            <h2>Welcome to the Appointment System</h2>
            <article>
            <p>Want to schedule an appointment, Appointment System is here to help. With a few simple clicks, schedule an appointment. 
            </p>
            </article>
            <article>
                <p>Click on Offices link to view and schedule appointments.</p>
            </article>
        </section>
    </main>
<%- include('./partials/footer.ejs') %>